.logo{
  width:100%;
  min-height:75px;
  background-color:lightblue;
}

nav{
  width:100%;
  min-height:100px;
  background-color:lightgreen;
}

header{
  width:100%;
  min-height:100px;
  background-color:palegoldenrod;
}

.intro{
  width:100%;
  min-height:150px;
  background-color:peru;
}

aside{
  width:100%;
  min-height:100px;
  background-color:royalblue;
}

main{
  width:100%;
  min-height:200px;
  background-color:greenyellow;
}

footer{
  width:100%;
  min-height:75px;
  background-color:blueviolet;
}